body {
    margin: 0;
}

#container {
    padding: 10px;
}

.person-button {
    background-color: #2d55ff;
    color: white;
    font-family: "bold";
    font-size: 100%;
    padding: 5px 10px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.person-name {
    font-family: "regular";
}